In [1]:
import pandas as pd
import numpy as np

In [2]:
rules = pd.read_csv("./dataset.csv")
dataset = pd.read_csv("./datasetharga.csv")
dataset

    tahun motor  harga beli  kondisi  harga jual
0          2015    13500000       90    15250000
1          2017    15800000       95    16500000
2          2014    11800000       85    12600000
3          2012     7250000       80     8300000
4          2015    11800000       95    12500000
5          2017    12100000       95    13500000
6          2013     8250000       85     9200000
7          2015    10700000       90    12000000
8          2014     9200000       90    10750000
9          2016    11500000       90    12250000
10         2015    14200000       90    15600000
11         2015    14200000       90    15600000
12         2017    15600000       95    16800000
13         2018    17200000       98    18250000
14         2017    16100000       99    17150000
15         2010     8200000       85     9360000
16         2015    15400000       90    16500000
17         2014     9500000       80    10800000
18         2016    13700000       95    15250000
19         2016    11500000       90    12750000
20         2014     8800000       86     9500000
21         2014    13750000       90    14750000
22         2015    14200000       85    15000000
23         2015    14000000       92    15250000
24         2015    13900000       80    14110000
25         2012     9500000       89    10550000
26         2014    10000000       94    11000000
27         2011     9000000       84    10250000
28         2013    10500000       93    12500000
29         2016    13500000       84    14000000
30         2016    14000000       89    15000000
31         2017    14250000       87    15250000
32         2012     7500000       82     8800000
33         2013     8500000       86     9500000

In [4]:
rules

   aturan tahun motor harga beli kondisi  harga jual
0    [R1]        Lama      Murah   Jelek       Murah
1    [R2]        Lama      Murah  Sedang       Murah
2    [R3]        Lama      Murah   Bagus       Murah
3    [R4]        Lama     Normal   Jelek  Agak Mahal
4    [R5]        Lama     Normal  Sedang  Agak Mahal
5    [R6]        Lama     Normal   Bagus  Agak Mahal
6    [R7]        Lama      Mahal   Jelek  Agak Mahal
7    [R8]        Lama      Mahal  Sedang       Mahal
8    [R9]        Lama      Mahal   Bagus       Mahal
9   [R10]   Agak Lama      Murah   Jelek       Murah
10  [R11]   Agak Lama      Murah  Sedang       Murah
11  [R12]   Agak Lama      Murah   Bagus       Murah
12  [R13]   Agak Lama     Normal   Jelek  Agak Mahal
13  [R14]   Agak Lama     Normal  Sedang  Agak Mahal
14  [R15]   Agak Lama     Normal   Bagus  Agak Mahal
15  [R16]   Agak Lama      Mahal   Jelek       Mahal
16  [R17]   Agak Lama      Mahal  Sedang       Mahal
17  [R18]   Agak Lama      Mahal   Bagus       Mahal
18  [R19]        Baru      Murah   Jelek  Agak Mahal
19  [R20]        Baru      Murah  Sedang       Murah
20  [R21]        Baru      Murah   Bagus       Mahal
21  [R22]        Baru     Normal   Jelek  Agak Mahal
22  [R23]        Baru     Normal  Sedang  Agak Mahal
23  [R24]        Baru     Normal   Bagus  Agak Mahal
24  [R25]        Baru      Mahal   Jelek  Agak Mahal
25  [R26]        Baru      Mahal  Sedang       Mahal
26  [R27]        Baru      Mahal   Bagus       Mahal